<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1>Editing Book</h1>
              <% if @book.errors.any? %>
                <div id= "error_explanation" class="alert alert-warning">
                  <h3><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:
                  </h3>
                  <ul>
                    <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <%= form_for(@book) do |f| %>
                <p>Title</p>
                <p><%= f.text_area :title %></p>
                <p>Opinion</p>
                <p><%= f.text_area :body %></p>
                <%= f.submit 'Update Book' %>
            <% end %>
            <%= link_to 'Show', book_path(@book) %>
            |
            <%= link_to 'Back', books_path %>
        </div>
    </div>
</div>