<div class="container">
	<div class="row">
		<% if flash[:success] %>
            <p><%= flash[:success] %></p>
        <% end %>
		<div class="col-xs-3">
			<h2>User info</h2>
			<div>
				<%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format: 'jpeg', class: "img-squire pull-left profile-img", fallback: "no_image.jpg", size:'120x120' %>
			</div>
			<table class="table">
				<tbody>
					<tr></tr>
					<tr>
						<th>name</th>
					    <th><%= @user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
					    <th><%= @user.introduction %></th>
					</tr>
				</tbody>
			</table>

		    <div class="user-edit">
		    	<% if @user == current_user %>
		    	    <%= link_to edit_user_path(current_user), class: 'btn btn-default btn-xs btn-block' do %>
			          <span class="glyphicon glyphicon-wrench" aria-hidden="true">
			          </span>
			        <% end %>
			    <% else %>
			        <%= link_to user_path(current_user), class: 'btn btn-default btn-xs btn-block' do %>
			          <span class="glyphicon glyphicon-wrench" aria-hidden="true">
			          </span>
			        <% end %>
			    <% end %>
		    </div>

		    <div>
			    <h2>New book</h2>
			    <%= form_for(@book, url: '/books') do |f| %>
			      <div>Title</div>
			      <%= f.text_area :title %>
			      <div>Opinion</div>
			      <%= f.text_area :body %>
			      <%= f.submit 'Create Book', class: 'btn btn-default btn-xs btn-block btn-primary' %>
			    <% end %>
	        </div>
	    </div>


        <div class="col-xs-9">
          <h2>Book detail</h2>
          <table class="table">
          	<% if @user.id == current_user.id %>
	            <thead>
		          <tr>
			        <th colspan="5"></th>
		          </tr>
	            </thead>
	            <tbody>
		            <tr>
			          <td>
				        <%= link_to user_path(@detail.user.id) do %>
				          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-squire pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %><br><br><br>
				          <%= @user.name %>
				        <% end %>
			          </td>
			          <td>
				        <%= @detail.title %>
			          </td>
			          <td>
				        <%= @detail.body %>
			          </td>
			          <td>
			          	<%= link_to 'Edit', edit_book_path(@detail), class: 'btn btn-default btn-success' %>
			          </td>
			          <td>
			          	<%= link_to 'Destroy',book_path(@detail), class: 'btn btn-default btn-danger', method: :delete, "data-confirm" => "本当に削除しますか?" %>
			          </td>
		            </tr>
	            </tbody>
	        <% else %>
	            <thead>
		          <tr>
		          	<th colspan="3"></th>
		          </tr>
	            </thead>
	            <tbody>
		            <tr>
			          <td>
				        <%= link_to user_path(@user) do %>
				          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-squire pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %><br><br><br>
				          <%= @user.name %>
				        <% end %>
			          </td>
			          <td>
				        <%= @detail.title %>
			          </td>
			          <td>
				        <%= @detail.body %>
			          </td>
		            </tr>
	            </tbody>
	        <% end %>
          </table>
        </div>
    </div>
</div>
