<h1>Book detail</h1>

<%= attachment_image_tag @book.user.image, :image %>
<%= link_to user_path(user.id), @book.name %>

<%= @book.title %>
<%= @book.body %>

<% if @book.user == current_user %>
  <%= link_to "destroy", books_path, method: :delete %>
<%= end %>