<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticly-top">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-brand">Bookers</div>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-home" aria-hidden="true">
                  <%= link_to "Home", user_path(current_user.id) %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-user" aria-hidden="true">
                  <%= link_to "Users", users_path %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-book" aria-hidden="true">
                  <%= link_to "Books", books_path %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                  <%= link_to "logout", destroy_user_session_path, method: :delete %>
                </span>
              </li>
            <% else %>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-home" aria-hidden="true">
                  <%= link_to "Home", root_path %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-link" aria-hidden="true">
                  <%= link_to "About", home_about_path %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
                  <%= link_to "sign up", new_user_registration_path %>
                </span>
              </li>
              <li class="navbar-list">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true">
                  <%= link_to "login", new_user_session_path %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="container-fluid">
        <div class="text-right">CopyRight Infratop.inc</div>
      </div>
    </footer>
  </body>
</html>

